<%- include("partial_headers.ejs"); %>

<style>
    .edittable a, td{
        color: black;
    }

</style>


<div class="adminview_ensemble">
    <div class="modif_table1">

        <div class="game_table">
            <table class="edittable">
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Edit Game</th>
                    <th>Delete Game</th>
                </tr>
                <% for (var adminview of adminview) { %>
                <tr>
                    <td><%= adminview.game_name %></td>
                    <td><%= adminview.game_description %></td>
                    <td><%= adminview.price %></td>
                    <td><%= adminview.category %></td></td>
                    <td><%= adminview.game_stock %></td>
                    <td><a href="/main_page/EditTable/<%= adminview.ID_game %>">Edit Game</a></td>
                    <td><a href="/main_page/del/<%= adminview.ID_game %>">Delete Game</a></td>
                </tr>
                <% } %>
            </table>
            <a href="/main_page/EditTable/0">Add Game</a>
            
        </div>  
        <p><br/><br/><br/></p>
        <table class="console_table">
            <tr>
                <tr>
                    <th>Name</th>
                    <th>Stockage</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Edit Console</th>
                    <th>Delete Console</th>
                </tr>
                <% for (var adminviewConsole of adminviewConsole) { %>
                <tr>
                    <td><%= adminviewConsole.console_name %></td>
                    <td><%= adminviewConsole.stockage %></td>
                    <td><%= adminviewConsole.console_color %></td>
                    <td><%= adminviewConsole.console_price %></td></td>
                    <td><%= adminviewConsole.console_stock %></td>
                    <td><a href="/main_page/EditConsole/<%= adminviewConsole.ID_console %>">Edit Console</a></td>
                    <td><a href=""></a>Delete Console</td>
                </tr>
                <% } %>
            </tr>
        </table>
        <a href="/main_page/EditConsole/0">Add Console</a>
    </div>


    <div class="modif_table2">
        <div class="console_table">

        </div>
    </div>

</div>


<%- include("partial_footer.ejs"); %>