<%- include("partial_headers.ejs"); %>

<h2 id="cart_link" class="sub-title">CART</h2>
<div class="small-container cart_page">

    <table>

        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    <% for (var allGame of allGame){ %>
        <tr>
            <td>
                <div class="cart-info">
                <img src="/image/jacket/<%= allGame.jacket%>">
                <div>
                    <p>Recherche Game : <%= allGame.game_name%></p>
                    <small>Price Game: <%= allGame.price %> $</small>
                    <p>Stock Game: <%= allGame.game_stock %></p>
                    <br>
                    <a href="">Remove</a>
                </div>
                </div>
            </td>
            <td><input type = "number" name="Quantity" value ="1"></td>
            <td>$<%= allGame.price %></td>
        </tr>
    <% } %> 

    <br><br><br>

    <% for (var console of allConsole){ %>
        <tr>
            <td>
                <div class="cart-info">
                <img src="/image/View_console/<%= console.view_image%>">
                <div>
                    <p>Recherche Console : <%= console.console_name%></p>
                    <small>Price Console: <%= console.console_price %> $</small>
                    <p>Stock Console: <%= console.console_stock %></p>
                    <br>
                    <a href="">Remove</a>
                </div>
                </div>
            </td>
            <td><input type = "number" name="Quantity" value ="1"></td>
            <td>$<%= console.console_price %></td>
        </tr>
    <% } %> 

    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>200.00$</td>
            </tr>
        </table>
    </div>

</div>
  

<div class="Payment">
    <input type ="button" onclick="window.location.href ='/payment';" value="PAYMENT"/>
</div>

<%- include("partial_footer.ejs"); %>