<%- include("partial_headers.ejs"); %>
<div class="small-container cart_page">

    <table>

        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    <% for (var allGame of allGame){ %>
        <tr>
            <td>
                <div class="cart-info">
                <img src="/image/jacket/<%= allGame.jacket%>">
                <div>
                    <h2><%= allGame.game_name%></h2>
                    <small>Price Game: <%= allGame.price %> $</small>
                    <p>Stock Game: <%= allGame.game_stock %></p>
                    <br>
                    <a href="/cart/Remove/<%= allGame.game_name%>">Remove</a>
                </div>
                </div>
            </td>
            <td><input type = "number" name="Quantity" value ="1"></td>
            <td><%= allGame.price %> $</td>
        </tr>
    <% } %> 

    <br><br><br>

    <% for (var console of allConsole){ %>
        <tr>
            <td>
                <div class="cart-info">
                <img src="/image/View_console/<%= console.view_image%>">
                <div>
                    <h2><%= console.console_name%></h2>
                    <small>Price Console: <%= console.console_price %> $</small>
                    <p>Stock Console: <%= console.console_stock %></p>
                    <br>
                    <a href="/cart/Remove/<%= console.console_name%>">Remove</a>
                </div>
                </div>
            </td>
            <td><input type = "number" name="Quantity" value ="1"></td>
            <td><%= console.console_price %> $</td>
        </tr>
    <% } %> 

    </table>

    <br>
    <div class="total-price">
        <table>
            <tr>
                <td>Total</td>
                <td><%= sum %> $</td>
            </tr>
        </table>
    </div>

</div>
  

<div class="Payment">
    <input type ="button" onclick="window.location.href ='/payment';" value="PAYMENT"/>
</div>

<%- include("partial_footer.ejs"); %>