<%- include("partial_headers.ejs"); %>

<link rel="stylesheet" type="text/css" href="/CSS/console_style.css"/>

<div class="console_ensemble">

    <div class="console_parameter">
        <ul class="console_price">
            <label class="list_console_parameter" for="price"> Price : </label>
            <li><a href='/console/ConsoleByPrice/100'>inf 100 EUR</a></li>
            <li><a href='/console/ConsoleByPrice/200'>inf 200 EUR</a></li>
            <li><a href='/console/ConsoleByPrice/300'>inf 300 EUR</a></li>
            <li><a href="/console/ConsoleByPrice/400">inf 400 EUR</a></li>
            <li><a href="/console/ConsoleByPrice/500">inf 500 EUR</a></li>
        </ul>


        <ul class="console_stockage">
            <label class="list_console_parameter" for="stockage"> Stockage : </label>
            <li><a href="/console/ConsoleByStockage/64"> inf 64 Go</a></li>
            <li><a href="/console/ConsoleByStockage/128"> inf 128 Go</a></li>
            <li><a href="/console/ConsoleByStockage/500"> inf 500 Go</a></li>
            <li><a href="/console/ConsoleByStockage/1000"> inf 1 To</a></li>
        </ul>
        
    </div>
    <div id="viewing_bloc">
        <table id="table"> 
        
            <div class="grid-container">
                <% for (var console of console_stock) { %>
                <div class="OneConsole">
                    <div class="ConsoleImage">
                        <a href="/main_page/oneConsole/<%= console.ID_console %>"><img src="/image/console/<%= console.console %>" alt="console"></a>
                    </div>
                    <br><br>
                    <div class="ConsoleName">
                        <a href="/main_page/oneConsole/<%= console.ID_console %>"><%= console.console_name %></a>

                    </div>
                </div>
                <% } %>
            </div>
 
        </table>
    </div>
</div>   

<a href="/main_page/adminview">Admin View Game</a>
    <div class="list_console">
        <table class="test">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Stockage</th>
                <th>Color</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Cart</th>
            </tr>
            <% for (var console of console) { %>
            <tr>
                <td></td>
                <td><%= console.console_name %></td>
                <td><%= console.stockage %></td>
                <td><%= console.console_color %></td>
                <td><%= console.console_stock %></td>
                <td><%= console.console_price %></td>
                <td><a href="/main_page/cart/<%= console.ID_console %>">Add to cart</a></td>
            </tr>
            <% } %>
        </table>
        
    </div>
</div>

<%- include("partial_footer.ejs"); %>