<%- include("partial_headers.ejs"); %>

<link rel="stylesheet" type="text/css" href="/CSS/console_style.css">

<div id="console_ensemble">
    <div id="console_parameter">
        <ul id="console_price">
            <label class="list_console_parameter" for="price"> Price : </label>
            <li><a href='/console/ConsoleByPrice/100'>< 100 EUR </a></li>
            <li><a href='/console/ConsoleByPrice/200'>< 200 EUR</a></li>
            <li><a href='/console/ConsoleByPrice/300'>< 300 EUR</a></li>
            <li><a href="/console/ConsoleByPrice/400">< 400 EUR</a></li>
            <li><a href="/console/ConsoleByPrice/500">< 500 EUR</a></li>
        </ul>


        <ul id="console_stockage">
            <label class="list_console_parameter" for="stockage"> Stockage : </label>
            <li><a href="/console/ConsoleByStockage/64"> < 64 Go</a></li>
            <li><a href="/console/ConsoleByStockage/128"> < 128 Go</a></li>
            <li><a href="/console/ConsoleByStockage/500"> < 500 Go</a></li>
            <li><a href="/console/ConsoleByStockage/1000"> < 1 To</a></li>
        </ul>
        
    </div>
    
    <div id="viewing_bloc">
        <table id="table"> 
            <div class="grid-container">
                <% for (var console of consoles) { %>
                <div class="OneConsole">
                    <div class="ConsoleImage">
                        <a href="/console/oneConsole/<%= console.ID_console %>"><img src="/image/console/<%= console.console_image %>" alt="console"></a>
                    </div>
                    <br><br>
                    <div class="ConsoleName">
                        <a href="/console/oneConsole/<%= console.ID_console %>"><%= console.console_name %></a>

                    </div>
                </div>
                <% } %>
            </div>
 
        </table>
    </div> 
</div>   

<%- include("partial_footer.ejs"); %>