<!-- CreateAccountpage_view.ejs -->

<%- include("partial_headers.ejs"); %>


<!-- importer le fichier de style -->
<link rel="stylesheet" href="/CSS/createAccount.css" type="text/css" />

    <div id="container">
    <!-- connexion -->

        <form class="account" action="/user/updateClient/<%=OneClient.ID_client %>" method="POST">
            <h1>Create an account</h1>

            <label><b>Name</b></label>
            <input type="text" placeholder="Enter your name" name="username" required value='<%= OneClient.client_name %>'>
            
            <label><b>Lastname</b></label>
            <input type="text" placeholder="Enter your lastname" name="lastname" required value='<%= OneClient.lastname %>'>
            
            <label><b>Age</b></label>
            <input type="integer" placeholder="Enter your age" name="age" required value='<%= OneClient.client_age %>'>
            
            <label><b>Email</b></label>
            <input type="email" placeholder="Enter your email" name="email" required value='<%= OneClient.mail_address %>'>
            
            <label><b>Phone</b></label>
            <input type="string" placeholder="Enter your phone number" name="phone" required value='<%= OneClient.phone %>'>
            
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="password" required value='<%= OneClient.client_password %>'>
        
            <input class="create"  type = "submit" id ="submit" value='CREATE'href="/auth/created/= OneClient.ID_client">
        </form>
    </br></br>   
        
    </div>
 

<%- include("partial_footer.ejs"); %>