<!-- CreateAccountpage_view.ejs -->

<%- include("partial_headers.ejs"); %>


<!-- importer le fichier de style -->
<link rel="stylesheet" href="/CSS/createAccount.css" type="text/css" />

<div id="container">
<!-- connexion -->

    <form class="account" action="/CreateAccount/updateclient/<%=OneClient.id_client %>" method="POST"
        enctype="application/x-www-form-urlencoded">
        <h1>Create New Account</h1>

        <label><b>Name</b></label>
        <input type="text" placeholder="Enter your name" name="clientName" required value='<%= OneClient.client_name %>'>
        
        <label><b>Lastname</b></label>
        <input type="text" placeholder="Enter your lastname" name="clientLastname" required value='<%= OneClient.lastname %>'>
        
        <label><b>Age</b></label>
        <input type="integer" placeholder="Enter your age" name="clientAge" required value='<%= OneClient.client_age %>'>
        
        <label><b>Email</b></label>
        <input type="email" placeholder="Enter your email" name="clientMail_addresse" required value='<%= OneClient.mail_address %>'>
        
        <label><b>Phone</b></label>
        <input type="string" placeholder="Enter your phone number" name="clientPhone" required value='<%= OneClient.phone %>'>
        
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter your password" name="clientPassword" required value='<%= OneClient.client_password %>'>
    
        <input class="create"  type = "submit" id ="submit" value='Sign Up'>
    </form>
</br></br>   
    
</div>
 

<%- include("partial_footer.ejs"); %>