<%- include("partial_headers.ejs"); %>

<div class="ensemble">
    <style>
        .table_edit input{
            width: max-content;
        }
    </style>

        <form action='/auth/updateClient/<%= EditOneClient.ID_client %>' method="post" 
            enctype="application/x-www-form-urlencoded">

            <table class="table_edit">
                <tr>
                    <tr><td>Name : </td>
                        <td>
                            <input type="text" name="clientName" value="<%= EditOneClient.client_name %>">
                        </td>
                    </tr>
                    <tr><td>Lastname : </td>
                        <td>
                            <input type="text" name="clientLastname" value="<%= EditOneClient.lastname %>">
                        </td>

                    <tr><td>Age :</td>
                        <td>
                            <input type="number" name="clientAge" value="<%= EditOneClient.client_age %>">
                            
                        </td>
                    </tr>
                    <tr><td>Phone :</td>
                        <td>
                            <input type="text" name="clientPhone" value="<%= EditOneClient.phone %>">
                        </td>
                    </tr>
                    <tr><td>Mail address :</td>
                        <td>
                            <input type="text" name="clientMail_addresse" value="<%= EditOneClient.mail_address %>">
                        </td>
                    </tr>
                    <tr><td>Password :</td>
                        <td>
                            <input type="text" name="clientPassword" value="<%= EditOneClient.client_password %>">
                        </td>
                    </tr>
                    
                    <tr><td colspan="2"> <input type="submit" value="send"></td></tr>
                </tr>


            </table>

        </form>
    </div>


<%- include("partial_footer.ejs"); %>