<%- include("partial_headers.ejs"); %>

<div class="ensemble">
    <style>
        .table_edit input{
            width: max-content;
        }
    </style>

        <form action='/main_page/update/<%= EditOneGame.ID_game %>' method="post" 
            enctype="application/x-www-form-urlencoded">

            <table class="table_edit">
                <tr>
                    <tr><td>Name : </td>
                        <td>
                            <input type="text" name="Game_Name" value="<%= EditOneGame.game_name %>">
                        </td>
                    </tr>
                    <tr><td>Descritpion : </td>
                        <td>
                            <input type="text" name="Game_Description" value="<%= EditOneGame.game_description %>">
                        </td>

                    <tr><td>Category :</td>
                        <td>
                            <select name="Game_Category" id="game_category">
                                <option value="<%= EditOneGame.category %>"><%= EditOneGame.category %></option>
                                <% for (var category_game of game_category)  { %>
                                <option value="<%= category_game.category %>"><%= category_game.category %></option>
                                <% } %>
                            </select> 
                        </td>
                    </tr>
                    <tr><td>Price :</td>
                        <td>
                            <input type="number" name="Game_Price" value="<%= EditOneGame.price %>">
                        </td>
                    </tr>
                    <tr><td>Stock :</td>
                        <td>
                            <input type="number" name="Game_Stock" value="<%= EditOneGame.game_stock %>">
                        </td>
                    </tr>
                    <tr><td colspan="2"> <input type="submit" value="send"></td></tr>
                    
                </tr>


            </table>

        </form>
    </div>



<%- include("partial_footer.ejs"); %>