<%- include("partial_headers.ejs"); %>
<body>
    <table class="table2">
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
        <% for (var game of game_Editor) { %>
        <tr>
            <td><%= game.ID_editor %></td>
            <td><%= game.game_name %></td>
            <td><%= game.game_description %></td>
            <td><%= game.game_stock %></td>
            <td><%= game.price %></td>
        </tr>
        <% } %>

    </table>
   
</body>

<%- include("partial_footer.ejs"); %>