<%- include("partial_headers.ejs"); %>


<div class="categories">
    
 
    <br><br><h1> <%= onegame.game_name %></h1><br><br>


   <div class="game_infos">


        <div class="col_1">
            <img src = "/image/Games/<%=onegame.game_image%>" alt="game">
        </div>

        <div class="col_2">
            <p> Brief description of the game:</p>
            
            <div class="description">
                <p><%= onegame.game_description %> </p></p>
            
            </div>

            <div class="data game_infos">
            
                <div class="datass">
                    <ul>
                        <br><li>Editor: <%= onegame.editor_name %></li><br>
                        <li>Price: <%= onegame.price %> €</li><br>
                        <li>We have <%= onegame.game_stock %> pieces</li>
                    </ul>
                </div>

                <div class="buy">
                    <button onclick="window.location.href='/Cart/<%= onegame.ID_game %>';"> BUY </button>
                </div>

            </div>

        </div>
        
    </div>

    

</div>



<%- include("partial_footer.ejs"); %>