<%- include("partial_headers.ejs"); %>
<body>
    <table id="table2">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
        <% for (var game of game_price) { %>
        <tr>
            <td><%= game.game_name %></td>
            <td><%= game.game_description %></td>
            <td><%= game.game_stock %></td>
            <td><%= game.price %></td>
        </tr>
        <% } %>

    </table>

   
</body>

<%- include("partial_footer.ejs"); %>