<%- include("partial_headers.ejs"); %>



<div class="categories">
 
    <br><br><h1> <%= onegame.game_name %></h1><br><br>


   <div class="game_infos">


        <div class="col_1">
            <img src = "/image/Games/<%=onegame.game_image%>" alt="game">
        </div>

        <div class="col_2">
            <div class="description">
                <p> <%= onegame.game_description %> </p>
            </div>

            <div class="data game_infos">
            
                <div class="datass">
                    <ul>
                        <li>Editor: <%= onegame.editor_name %></li>
                        <li>Price: <%= onegame.price %> €</li>
                        <li>We have <%= onegame.game_stock %> pieces</li>
                    </ul>
                </div>

                <div class="buy">
                    <button onclick=""> BUY </button>
                </div>


            </div>

        </div>
        
    </div>

    

</div>



<%- include("partial_footer.ejs"); %>