<!-- mainpage_view.ejs -->

<%- include("partial_headers.ejs"); %>

    <body>

        <script>
        $(function(){
                $('.range').next().text('--'); // Default value
                $('.range').on('input', function(){
                    var $set = $(this).val();
                    $(this).next().text($set);
                });
        });

        function AddRows(){
            var table = document.getElementById('table');
            var ligne = table.insertRow(-1);
            var td1 = ligne.insertCell(0);
            var td2 = ligne.insertCell(1);
            var td3 = ligne.insertCell(2);
            var td4 = ligne.insertCell(3); 
            var td5 = ligne.insertCell(4);
        };

        function DelRows(){
            document.getElementById('table').deleteRow(-1);
        }

        </script>

        
<div id="ensemble">
    <div id="parameter">
        <ul class="price">
            <label id="list_parameter" for="price"> Price : </label>
            <li><a href="">0 - 10 EUR</a></li>
            <li><a href="">10 - 20 EUR</a></li>
            <li><a href="">20 - 30 EUR</a></li>
            <li><a href="">30 - 40 EUR</a></li>
            <li><a href="">40 - 50 EUR</a></li>
            <li><a href="">50 - 60 EUR</a></li>
            <li><a href="">60 - 70 EUR</a></li>

        </ul>

        <ul id="Game_type_list">
            <label id="list_parameter" for="category"> <br><br><br> Category : </label>
            <li><a href='/main_page/SortParameter/Action'>Action</a></li>
            <li><a href='/main_page/SortParameter/Adventure'>Adventure</a></li>
            <li><a href='/main_page/SortParameter/Car'>Car</a></li>
            <li><a href='/main_page/SortParameter/Family'>Family</a></li>
            <li><a href='/main_page/SortParameter/MOBA'>MOBA</a></li>
            <li><a href='/main_page/SortParameter/RPG'>RPG</a></li>
            <li><a href='/main_page/SortParameter/Sport'>Sport</a></li>
            <li><a href='/main_page/SortParameter/War'>War</a></li>
        </ul>

        <ul id="Editor_list">
            <label id="list_parameter" for="Editor"> <br><br><br> Editor : <br></label>
            <li><a href='/main_page/SortEditor/Electronic Arts'>Electronic Arts</a></li>
            <li><a href='/main_page/SortEditor/Nitendo'>Nitendo</a></li>
            <li><a href='/main_page/SortEditor/Activision'>Activision</a></li>
            <li><a href='/main_page/SortEditor/Blizzard'>Blizzard</a></li>
            <li><a href='/main_page/SortEditor/Take Two Interactive'>Take Two Interactive</a></li>
            <li><a href='/main_page/SortEditor/Epic Games'>Epic Games</a></li>
            <li><a href='/main_page/SortEditor/Warner Bros'>Warner Bros</a></li>
            <li><a href='/main_page/SortEditor/Ubisoft'>Ubisoft</a></li>
            <li><a href='/main_page/SortEditor/Gameloft'>Gameloft</a></li>
            <li><a href='/main_page/SortEditor/Tencent'>Tencent</a></li>
            <li><a href='/main_page/SortEditor/Square Enix'>Square Enix</a></li>
            <li><a href='/main_page/SortEditor/SEGA'>SEGA</a></li>
            <li><a href='/main_page/SortEditor/Bandai Namco'>Bandai Namco</a></li>
            <li><a href='/main_page/SortEditor/Mojang Studios'>Mojang Studios</a></li>
            <li><a href='/main_page/SortEditor/Rebound CG'>Rebound CG</a></li>
        </ul>

    </div>

        <div id="viewing_bloc">
            <table id="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
                <% for (var game of game_stock) { %>
                <tr>
                    <td></td>
                    <td><%= game.game_name %></td><!--Mario Kart 8-->
                    <td><%= game.game_description %></td><!--Frenzied karting races in the universe of super mario-->
                    <td><%= game.game_stock %></td><!--15-->
                    <td><%= game.price %></td><!--55-->
                </tr>

                <% } %>    
            </table>
        </div>
</div>   

<button onclick="AddRows()">Add rows</button>
<button onclick="DelRows()">Del rows</button> 


<%- include("partial_footer.ejs"); %>
  