<!-- mainpage_view.ejs -->

<%- include("partial_headers.ejs"); %>


        <script>
        function AddRows(){
            var table = document.getElementById('table');
            var ligne = table.insertRow(-1);
            var td1 = ligne.insertCell(0);
            var td2 = ligne.insertCell(1);
            var td3 = ligne.insertCell(2);
            var td4 = ligne.insertCell(3); 
            var td5 = ligne.insertCell(4);
        };

        function DelRows(){
            document.getElementById('table').deleteRow(-1);
        }
        </script>

        
<div id="ensemble">
    <div id="parameter">
        <ul id="Game_Price_list">
            <label id="list_parameter" for="price"> Price : </label>
            <li><a href='/main_page/SortPrice/10'>inf 10 EUR</a></li>
            <li><a href='/main_page/SortPrice/20'>inf 20 EUR</a></li>
            <li><a href='/main_page/SortPrice/30'>inf 30 EUR</a></li>
            <li><a href="/main_page/SortPrice/40">inf 40 EUR</a></li>
            <li><a href="/main_page/SortPrice/50">inf 50 EUR</a></li>
            <li><a href="/main_page/SortPrice/60">inf 60 EUR</a></li>
            <li><a href="/main_page/SortPrice/70">inf 70 EUR</a></li>

        </ul>

        <ul id="Game_type_list">
            <label id="list_parameter" for="category"> <br><br><br> Category : </label>
            <li><a href='/main_page/SortParameter/Action'>Action</a></li>
            <li><a href='/main_page/SortParameter/Adventure'>Adventure</a></li>
            <li><a href='/main_page/SortParameter/Car'>Car</a></li>
            <li><a href='/main_page/SortParameter/Family'>Family</a></li>
            <li><a href='/main_page/SortParameter/MOBA'>MOBA</a></li>
            <li><a href='/main_page/SortParameter/RPG'>RPG</a></li>
            <li><a href='/main_page/SortParameter/Sport'>Sport</a></li>
            <li><a href='/main_page/SortParameter/War'>War</a></li>
        </ul>

        <ul id="Game_Editor_list">
            <label id="list_parameter" for="Editor"> <br><br><br> Editor : <br></label>
            <li><a href='/main_page/SortEditor/1'>Electronic Arts</a></li>
            <li><a href='/main_page/SortEditor/2'>Nitendo</a></li>
            <li><a href='/main_page/SortEditor/3'>Activision</a></li>
            <li><a href='/main_page/SortEditor/4'>Blizzard</a></li>
            <li><a href='/main_page/SortEditor/5'>Take Two Interactive</a></li>
            <li><a href='/main_page/SortEditor/6'>Epic Games</a></li>
            <li><a href='/main_page/SortEditor/7'>Warner Bros</a></li>
            <li><a href='/main_page/SortEditor/8'>Ubisoft</a></li>
            <li><a href='/main_page/SortEditor/9'>Gameloft</a></li>
            <li><a href='/main_page/SortEditor/10'>Tencent</a></li>
            <li><a href='/main_page/SortEditor/11'>Square Enix</a></li>
            <li><a href='/main_page/SortEditor/12'>SEGA</a></li>
            <li><a href='/main_page/SortEditor/13'>Bandai Namco</a></li>
            <li><a href='/main_page/SortEditor/14'>Mojang Studios</a></li>
            <li><a href='/main_page/SortEditor/15'>Rebound CG</a></li>
        </ul>

    
    </div>

        <div id="viewing_bloc">
            <table id="table"> 
            
                <div class="grid-container">
                    <% for (var game of game_stock) { %>
                    <div class="OneGame">
                        <div class="GameImage">
                            <a href="/main_page/oneGame/<%= game.ID_game %>"><img src="/image/jacket/<%= game.jacket %>" alt="game"></a>
                        </div>
                        <br><br>
                        <div class="GameName">
                            <a href="/main_page/oneGame/<%= game.ID_game %>"><%= game.game_name %></a>

                        </div>
                    </div>
                    <% } %>
                </div>

     
            </table>
        </div>
</div>   

<button onclick="AddRows()">Add rows</button>
<button onclick="DelRows()">Del rows</button> 
<a href="/main_page/adminview">Admin View Game</a>

<%- include("partial_footer.ejs"); %>
  